/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

  .main-nav,
  .main-header {
    display: flex;
    justify-content: center;
  }

}

  .main-header {
    flex-direction: column;
  }

@media (min-width: 1025px) {

  .main-header{
    justify-content: space-between;
    flex-direction: row;

  }

  .main-nav {
    justify-content: flex-end;
  }

}