/* Structural Pseudo-classes------------------ */
li:nth-child(odd) {
    background: rgb(93, 93, 206);
}

li:nth-child(even) {
    background: lightblue;
}

/* li:first-child {
    background: #52bab3;
    color: white;
} */

/* li:last-child {
    background: lightblue;
    color: white;
    border-bottom: none;
} */

span:only-child {
    color: #52bab3;
    font-size: 1.5em;
}

li:empty{
    background-color: tomato;
}








