/* Structural Pseudo-classes------------------ */


/*
  below fails in this instance because a non-div item 
  was introduced so the 4th div item does not exist
  nth-of-type is used in these situations

  div:nth-child(4) {
  background: #52bab3;
  color: white;
} 

*/



div:nth-last-of-type(2) {
  background: #52bab3;
  color: white;
}

